@import url(basic/base.css);
@import url(basic/root.css);
@import url(basic/helpers.css);
@import url(cmps/footer.css);
@import url(cmps/header.css);
@import url(cmps/book-filter.css);
@import url(cmps/book-list.css);
@import url(cmps/book-preview.css);


/* TYPOGRAPHY */

/* LAYOUT */

.low-price {
    color: green;
}

.high-price {
    color: darkred;
}



.book-detail-subject {
    font-size: 1.2rem;
    font-weight: 600;
}

.book-details-modal{
    background-color: rgba(128, 128, 128, 0.296);
}

li {
    padding: 5px;
}




.router-link-exact-active{
    font-size: 1.5rem;
}

@import 'media/small.css' (min-width:420px);
@import 'media/medium.css' (min-width:760px);
@import 'media/large.css' (min-width:1040px);