@import url(basic/base.css);
@import url(basic/root.css);
@import url(basic/helpers.css);
@import url(cmps/footer.css);
@import url(cmps/header.css);

/* TYPOGRAPHY */

/* LAYOUT */

.low-price {
    color: green;
}

.high-price {
    color: darkred;
}

.book-list-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    margin: 10px;
}

.book-in-lst {
    background-color: rgb(33, 129, 255);
    min-height: 220px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
}

.actions {
    width: 100%;
}

.book-btn {
    padding: 5px;
    border: 0;
    background-color: rgb(0, 129, 161);
    border-radius: 5px;
    color: white;
}

.book-detail-subject {
    font-size: 1.2rem;
    font-weight: 600;
}

.book-details-modal{
    background-color: rgba(128, 128, 128, 0.296);
}

li {
    padding: 5px;
}

.book-preview{
    height: 100%;
}

.text-input{
    padding-left: 10px;
    border-radius: 10px;
}

.book-title{
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border-bottom: 5px double solid black;
}

.price{
    font-size: 1.2rem;
    padding: 5px;
}


.book-filter{
    margin: 10px;
    font-size: 1.2rem;
}

.router-link-exact-active{
    font-size: 1.5rem;
}

@import 'media/small.css' (min-width:420px);
@import 'media/medium.css' (min-width:760px);
@import 'media/large.css' (min-width:1040px);